.navbar {
  display: flex;
  width: 100vw;
  height: 5rem;
  font-size: 2rem;
  padding: 1rem;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: white;
  justify-content: space-between; }
  .navbar__item {
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 700;
    color: black;
    padding: 1rem 2rem;
    border-radius: 5px; }
    .navbar__item:hover {
      color: #333131;
      background-color: #afa3a3;
      border-radius: 5px; }
  .navbar__menu {
    display: flex;
    margin-right: 3rem; }

@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    font-size: 2.5rem;
    padding-top: 5rem;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: white;
    justify-content: flex-start;
    transition: all 0.3s cubic-bezier(0.01, 0.58, 0.86, 0.28); }
    .navbar__item {
      text-decoration: none;
      margin-right: 0rem;
      margin-bottom: 1rem;
      font-weight: 700;
      color: black;
      padding: 1rem 2rem;
      border-radius: 5px; }
      .navbar__item:hover {
        color: #333131;
        background-color: #afa3a3;
        border-radius: 5px; }
    .navbar__menu {
      display: flex;
      flex-direction: column;
      margin-right: 0rem;
      position: absolute;
      margin-top: 5rem;
      top: 12rem; } }

.menu {
  cursor: pointer;
  color: black;
  font-size: 3.5rem;
  display: none; }
  .menu__checkbox {
    position: absolute;
    left: -100rem; }

@media (max-width: 600px) {
  .menu {
    display: block;
    margin: 2rem;
    position: fixed;
    z-index: 110; }
    .menu .navbar figure {
      display: none; }
    .menu__checkbox:checked ~ .navbar {
      position: absolute;
      left: 0rem; }
    .menu__checkbox:not(:checked) ~ .navbar {
      position: absolute;
      left: -100rem; }
    .menu__checkbox:checked ~ .menu__icon {
      transform: rotateX(180deg); }
    .menu__checkbox:not(:checked) ~ .menu__icon {
      transform: rotateX(0deg); } }

@media (max-width: 600px) {
  .navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101; } }

.company-logo {
  position: absolute;
  top: -100rem; }

@media (max-width: 600px) {
  .company-logo {
    top: 1rem;
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 5rem;
    width: 100vw; }
    .company-logo img {
      height: 100%; } }

.home-main {
  display: flex; }
  .home-main__image figure {
    margin-top: 5rem;
    width: 50vw;
    height: 100vh;
    padding: 2rem;
    display: block;
    position: relative; }
    .home-main__image figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .home-main__image figure figcaption {
      position: absolute;
      z-index: 20;
      top: 10rem;
      font-size: 3rem;
      font-weight: 700;
      left: 10rem;
      color: #ece4e4;
      animation: move-from-left 0.3s ease-in 0.3s; }
  .home-main__description {
    margin-top: 10rem;
    display: flex;
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5; }
    .home-main__description span {
      font-size: 2.5rem;
      color: #444444;
      text-decoration: underline; }

@media (max-width: 600px) {
  .home-main {
    margin-top: 5rem;
    flex-direction: column; }
    .home-main__image figure {
      width: 100vw;
      height: 60vh;
      padding: 2rem;
      display: block;
      position: relative; }
      .home-main__image figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .home-main__image figure figcaption {
        position: absolute;
        z-index: 20;
        top: 5rem;
        font-size: 2.5rem;
        font-weight: 700;
        left: 5rem;
        color: #ece4e4;
        animation: move-from-left 0.3s ease-in 0.3s; }
    .home-main__description {
      margin-top: 2rem;
      display: flex;
      height: 50vh;
      width: 100vw;
      padding: 2rem 5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.4; }
      .home-main__description span {
        font-size: 2rem;
        color: #444444;
        text-decoration: underline; } }

@keyframes move-from-left {
  0% {
    left: -5rem;
    opacity: 0; }
  100% {
    left: 10rem;
    opacity: 1; } }

.list-main {
  position: absolute;
  top: 8rem;
  display: block;
  width: 100%; }
  .list-main section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem; }
    .list-main section select,
    .list-main section button {
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: capitalize; }
  .list-main article {
    width: 100vw; }

.table {
  border-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 400; }
  .table-thead {
    background-color: #95aaee; }
    .table-thead tr {
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
  .table-tbody tr:nth-of-type(2n) {
    background-color: #ced1eb;
    border-bottom: 1px solid black; }
  .table-tbody tr:nth-of-type(2n + 1) {
    background-color: #e3e4ec;
    border-bottom: 1px solid black; }
  .table-tbody tr:hover {
    background-color: #eff0f1; }
  .table td,
  .table th {
    padding: 5px;
    margin: 2px; }

@media (max-width: 600px) {
  .table {
    width: 80%; } }

.list {
  display: flex;
  flex-direction: column;
  margin: 1rem; }
  .list-item {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.5rem;
    width: 80%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem; }
    .list-item__group-id-postid {
      display: flex; }
      .list-item__group-id-postid > div {
        margin-right: 3rem; }

@media (max-width: 600px) {
  /* To accomodate mobile screens */
  .list {
    margin: 1rem; }
    .list-item {
      font-size: 1.6rem; } }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  .grid-item {
    width: 80%;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem;
    height: 20rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); } }

.performance {
  display: flex;
  height: 90vh;
  width: 100vw;
  position: relative; }
  .performance__view {
    position: absolute;
    top: 10rem;
    left: 5rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .performance__data {
    margin-top: 18rem;
    padding: 2rem; }
